* {
    margin: 0;
    padding: 0;
  }
header {
    background-color: white;
    width: 100%;
    height: 80px;
    display: inline-block;
    position: fixed;
}  
header img {
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 10px
}

header h1{
    padding-top:20px;
    font-family: "Slabo 35px";
}

#content {
    padding-top: 120px;
    padding-bottom:50px;
    text-align: center;
}

#content h2 {
    color: ;
    font-family: "Slabo 40px";
}

body {
    background-image: url("marble3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
}

.textBox {
    height: 100px;
    width: 200px;
    font-size: 12pt;
}

.textBox:focus {
    background-color: beige;
}

.inputList {
    background-color: #eaeaea;
    width: 60%;
    margin: 30px auto;
    padding: 30px 20px;
    display: block;
}

.btn {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    margin:10px;
    width: 150px;
    height: 60px;
    display: inline-block;
    font-size: 15px;
}

#results{
    background-color: #e2e1df;
    width: 50%;
    margin: 30px auto;
    padding: 30px 20px;
    display: block;
    text-align: center;
    font-family: "Slabo 12px"
}

footer {
    bottom: 0;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    font-family: 'Slabo 27px';
    background-color: #252525;
    color: #ffffff;
  } 

ul {
    list-style-type:none
}

